nbproject
node_modules
.idea

frameworks/runtime-src/proj.android/obj/local/
frameworks/runtime-src/proj.android/assets/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/libs/
frameworks/runtime-src/proj.android/gen/
frameworks/runtime-src/proj.android/jni/

frameworks/runtime-src/proj.win32/
frameworks/cocos2d-x
frameworks/cocos2d-html5

frameworks/runtime-src/proj.android-studio/app/assets
frameworks/runtime-src/proj.android-studio/app/jni
frameworks/runtime-src/proj.android-studio/build

simulator
publish
linux-build


*.o

local.properties
.d

.DS_Store
.gradle
.idea
*.iml
